%h3 Reserve Seat(s) for an Event

%table
  %thead
    %tr
      %th GUEST NAME
  %tbody
    - @guests.each do |guest|
      %tr
        %td
          = link_to "#{guest.name}", guest_path(guest)
        %td

%br
%br
= link_to "Back to Events", events_path
