%h3 List of Guests

- if @guests.size > 0
  %table
    %thead
      %tr
        %th GUEST NAME
        %th Seats
    %tbody
      - @guests.each do |guest|
        %tr
          %td
            = link_to "#{guest.name}", event_guest_path(guest.event_id, guest.id)
          %td
            = guest.seats.size

%br
%br
= link_to "Back to Events", events_path
